DATABASE_DRIVER=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=prac
DATABASE_USERNAME=prac
DATABASE_PASSWORD=prac
LOGGER=dev
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
GITHUB_USER=ChronoWaves